body {
  background-color: paleturquoise;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  border: 3px solid black;
  padding: 15px;
}

.main {
  width: 70%;
  height: 80vh;
}

.sidebar {
  width: 20%;
  height: 40vh;
  justify-content: space-evenly;
  margin: 15vh 0 0 0;
}

.currentImg {
  width: 70vw;
}

.keyword-query {
  width: 140px;
  height: 20px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
